.App {
  display: flex;
	font-family: 'Source Sans Pro', sans-serif;
}

.app-body {
	padding-top: 10px;
}

.repo-name {
	color: #37515F;
}

.filters {
	background-color: #ededed;
	height: 200px;
}

.repo-name {
	text-align: center;
}

.filter-box {
	padding-top: 10px;
}

.centered-text {
	text-align: center;
}